<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>class_pic</key>
		<string>http://xuexi8.img-cn-beijing.aliyuncs.com/14613774541461318195renhuan1.jpg</string>
		<key>New item</key>
		<string></string>
		<key>course_name</key>
		<string>四年级数学</string>
		<key>course_status</key>
		<string>2</string>
		<key>course_tem_id</key>
		<string>19</string>
		<key>price</key>
		<string>198.00</string>
		<key>status</key>
		<string>1</string>
		<key>teacher_name</key>
		<string>任欢</string>
	</dict>
	<dict>
		<key>class_pic</key>
		<string>http://xuexi8.img-cn-beijing.aliyuncs.com/1461554315shihuawei1.jpg</string>
		<key>course_name</key>
		<string>五年级数学</string>
		<key>course_status</key>
		<string>2</string>
		<key>course_tem_id</key>
		<string>20</string>
		<key>price</key>
		<string>198.00</string>
		<key>status</key>
		<string>1</string>
		<key>teacher_name</key>
		<string>师华伟</string>
	</dict>
	<dict>
		<key>class_pic</key>
		<string>http://xuexi8.img-cn-beijing.aliyuncs.com/14613775441461319837jianghongfei1.jpg</string>
		<key>course_name</key>
		<string>六年级英语</string>
		<key>course_status</key>
		<string>2</string>
		<key>course_tem_id</key>
		<string>21</string>
		<key>price</key>
		<string>198.00</string>
		<key>status</key>
		<string>1</string>
		<key>teacher_name</key>
		<string>蒋红菲</string>
	</dict>
	<dict>
		<key>class_pic</key>
		<string>http://xuexi8.img-cn-beijing.aliyuncs.com/14613775891461319785yangyi.jpg</string>
		<key>course_name</key>
		<string>五年级英语</string>
		<key>course_status</key>
		<string>2</string>
		<key>course_tem_id</key>
		<string>22</string>
		<key>price</key>
		<string>198.00</string>
		<key>status</key>
		<string>1</string>
		<key>teacher_name</key>
		<string>杨怡</string>
	</dict>
	<dict>
		<key>class_pic</key>
		<string>http://xuexi8.img-cn-beijing.aliyuncs.com/1461554170hanyihang1.jpg</string>
		<key>course_name</key>
		<string>五年级语文阅读专项</string>
		<key>course_status</key>
		<string>2</string>
		<key>course_tem_id</key>
		<string>23</string>
		<key>price</key>
		<string>198.00</string>
		<key>status</key>
		<string>1</string>
		<key>teacher_name</key>
		<string>韩易航</string>
	</dict>
	<dict>
		<key>class_pic</key>
		<string>http://xuexi8.img-cn-beijing.aliyuncs.com/14613776541461319597renxiaoling1.jpg</string>
		<key>course_name</key>
		<string>六年级语文</string>
		<key>course_status</key>
		<string>2</string>
		<key>course_tem_id</key>
		<string>24</string>
		<key>price</key>
		<string>198.00</string>
		<key>status</key>
		<string>1</string>
		<key>teacher_name</key>
		<string>任晓玲</string>
	</dict>
	<dict>
		<key>class_pic</key>
		<string>http://xuexi8.img-cn-beijing.aliyuncs.com/14613777351461321032liuyunpeng.jpg</string>
		<key>course_name</key>
		<string>八年级物理上册</string>
		<key>course_status</key>
		<string>2</string>
		<key>course_tem_id</key>
		<string>25</string>
		<key>price</key>
		<string>198.00</string>
		<key>status</key>
		<string>1</string>
		<key>teacher_name</key>
		<string>刘云鹏</string>
	</dict>
	<dict>
		<key>class_pic</key>
		<string>http://xuexi8.img-cn-beijing.aliyuncs.com/14613777821461318370xiaohui.jpg</string>
		<key>course_name</key>
		<string>九年级物理上册</string>
		<key>course_status</key>
		<string>2</string>
		<key>course_tem_id</key>
		<string>26</string>
		<key>price</key>
		<string>198.00</string>
		<key>status</key>
		<string>1</string>
		<key>teacher_name</key>
		<string>肖辉</string>
	</dict>
	<dict>
		<key>class_pic</key>
		<string>http://xuexi8.img-cn-beijing.aliyuncs.com/course_online/9huaxue.jpg</string>
		<key>course_name</key>
		<string>九年级化学上册</string>
		<key>course_status</key>
		<string>2</string>
		<key>course_tem_id</key>
		<string>27</string>
		<key>price</key>
		<string>198.00</string>
		<key>status</key>
		<string>1</string>
		<key>teacher_name</key>
		<string>张玮昀</string>
	</dict>
	<dict>
		<key>class_pic</key>
		<string>http://xuexi8.img-cn-beijing.aliyuncs.com/14613778181461319956lihe2.jpg</string>
		<key>course_name</key>
		<string>八年级数学上册</string>
		<key>course_status</key>
		<string>2</string>
		<key>course_tem_id</key>
		<string>28</string>
		<key>price</key>
		<string>198.00</string>
		<key>status</key>
		<string>1</string>
		<key>teacher_name</key>
		<string>李贺</string>
	</dict>
</array>
</plist>
